<div id='content' class="ui text container" >

  <div class="ui big purple button" id="accountS">
    <div class="content " style="font-size:12px; color:white;">Account setup</div>
  </div>


  <button class="ui big disabled blue button" id="socialP">
    <div class="content" style="font-size:12px; color:white;">Take a selfie</div>
  </button>

  <div id="account">
    <div class="ui center aligned  container " id="signUpBox">

      <div class="ui centered header">
        <h1 class="font" style="color:white;">Create your account</h1>
      </div>

      <form id='signup-form' class="ui form" autocomplete="off">
        <div class='many_fields'>
          <div  id="fnamediv" class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input id="fname" name="newUser.first_name" [(ngModel)]="newUser.first_name" type="text" placeholder="First Name" name="name">
            </div>
          </div>
          <div  id="lnamediv" class="field">
              <div class="ui left input">
                <input id="lname" name="newUser.last_name" [(ngModel)]="newUser.last_name" type="text" placeholder="Last Name" name="name">
              </div>
            </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <input type="text" name="newUser.email" [(ngModel)]="newUser.email" placeholder="Email" name="email">
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="newUser.password" [(ngModel)]="newUser.password" placeholder="Password" name="password">
            </div>
          </div>

          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="newUser.confirm" [(ngModel)]="newUser.confirm" placeholder="Confirm Password" name="confirm">
            </div>
          </div>

          <div class="ui error message"></div>
          <div class='btns'>
            <input id="nextbutton" type="submit" value="Next" class="ui inverted blue medium button next1 ">
          </div>

          <p id="link" >Already have an account? <a [routerLink]="['/login']">Login Here</a></p> 
        </div>
        <div class="ui error message"></div>

      </form>


    </div>

  </div>

  <div id="social">
    <app-camera></app-camera>
    <div class="two ui buttons">
      <button class="ui medium button prev1">Back To Registration</button>
      <!-- <button [routerLink]="['/dashboard']" class="ui medium button submit">Use This Picture!</button> -->
    </div>
  </div>

</div>